:root {
    --element-spacing: 1.5rem;
}

.top-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: var(--element-spacing);
}

.nav-left > * {
    margin-right: var(--element-spacing);
}

.nav-right{
    display: flex;
    align-items: center;
}

.nav-right > * {
    margin-left: var(--element-spacing);
}

.yelp{
    display: flex;
}
.nav-logo{
    max-width: 30px;
    max-height: 20px; 
}

/* homepage */

.titles{
    margin: 50px 0;
    display: flex;
}

.home-title{
    font-size: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.home-yelp{
    display: flex;
    margin: 80px 0 0 20px; 
}

.home-yelp > p {
    margin-top: 6px;
}

.home-logo{
    width: 80px;
    height: 30px;
    margin: 0 5px 10px 5px;
}

/* homepage search bar */
.input-control{
    min-width: 320px;
}

#search-button{
    background-color: #bd1f1f;
    border: none;
}



#icon {
    color: white;
}