:root {
    --element-spacing: 1.5rem;
}

#root{
    height: 100%;
}

.body{
    height: 100%;
}
.main{
    height: 100%;
}

.top-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: var(--element-spacing);
}

.nav-left > * {
    margin-right: var(--element-spacing);
}

.nav-right{
    display: flex;
    align-items: center;
}

.nav-right > * {
    margin-left: var(--element-spacing);
}

.yelp{
    display: flex;
}
.nav-logo{
    max-width: 30px;
    max-height: 20px; 
}

/* homepage */


